@import "@/app/variables";

.container {
    margin: 140px auto 117px;
    width: 90%;
    max-width: 1380px;
    box-shadow: 0 0 25px 0 #8EA0AD59;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 110px;
    position: relative;
    z-index: 4;
}

@include media(sl) {
    .container {
        gap: 80px;
    }
}

@include media(lg) {
    .container {
        gap: 60px;
        margin: 70px auto 50px;
    }
}

@include media(md) {
    .container {
        margin: 40px auto 30px;
    }
}

@include media(xs) {
    .container {
        gap: 30px;
        margin: 30px auto 30px;
    }
}
