@import "@/app/variables";

.section {
    background-image: url('/ui/header-line.svg');
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 97%;
    padding: 0 45px;

    &__header {
        height: 110px;
        padding-top: 25px;
        font-family: 'Century Gothic';
        font-style: normal;
        font-weight: 700;
        font-size: 1.7rem;
    }
}

@include media(lg) {
    .section {
        padding: 0 25px;

        &__header {
            height: 90px;
            padding-top: 18px;
        }
    }
}

@include media(md) {
    .section {
        padding: 0 14px;

        &__header {
            height: 60px;
            padding-top: 8px;
            font-size: 1.4rem;
        }
    }
}

@include media(xs) {
    .section {
        padding: 0 10px;

        &__header {
            height: 40px;
            padding-top: 5px;
        }
    }
}