.section {
    background-image: url('/ui/header-line.svg');
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 97%;
    padding: 0 45px;

    @media screen and (max-width: 1024px) {
        padding: 0 25px;
    }
    @media screen and (max-width: 768px) {
        padding: 0 14px;
    }
    @media screen and (max-width: 320px) {
        padding: 0 10px;
    }
}

.header {
    height: 110px;
    padding-top: 25px;
    font-family: 'Century Gothic';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;

    @media screen and (max-width: 1024px) {
        height: 90px;
        padding-top: 18px;
        font-size: 30px;
    }
    @media screen and (max-width: 768px) {
        height: 60px;
        padding-top: 8px;
        font-size: 18px;
    }
    @media screen and (max-width: 320px) {
        height: 40px;
        padding-top: 5px;
        font-size: 14px;
    }
}