.number {
    font-size: 48px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, #FDD966 0%, #BCD77E 68.54%);
    width: 80px;
    height: 80px;
    border-radius: 50%;

    @media screen and (max-width: 1024px) {
        height: 60px;
        width: 60px;
        font-size: 40px;
    }
    @media screen and (max-width: 768px) {
        height: 50px;
        width: 50px;
        font-size: 32px;
    }
    @media screen and (max-width: 320px) {
        height: 40px;
        width: 40px;
        font-size: 24px;
    }
}

.topLeft {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
}

.bottomRight {
    position: absolute;
    top: 100%;
    left: 100%;
    transform: translate(-50%, -50%);
}