@import "@/app/variables";

.text {
    --mb: 40px;

    display: flex;
    flex-direction: column;
    gap: 9px;
    margin-bottom: var(--mb);
}

@include media(lg) {
    .text {
        --mb: 30px;
    }
}

@include media(md) {
    .text {
        --mb: 20px;
    }
}

@include media(xs) {
    .text {
        --mb: 10px;
    }
}