@import "@/app/variables";

.focus {
    margin-top: 40px;

    &__description {
        font-weight: 700;
        margin: 40px auto 50px;
        text-align: center;
    }

    &__header {
        width: 100%;
        height: 83px;
        padding: 10px;
        border-radius: 20px;
        background: $yellowGreenGradient;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

@media #{$laptop} {
    .focus {
        margin-top: 20px;

        &__description {
            margin: 30px auto 35px;
        }
    }
}

@media #{$tablet} {
    .focus {
        margin-top: 10px;

        &__description {
            margin: 20px auto 25px;
        }

        &__header {
            height: 70px;
        }
    }
}

@media #{$mobile} {
    .focus {
        margin-top: 5px;

        &__description {
            margin: 10px auto 15px;
        }

        &__header {
            height: 60px;
        }
    }
}