.inhalers {
    display: flex;
    justify-content: space-between;
}

.texts {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.textBlock {
    padding: 30px 40px !important;
    width: 50%;
    margin-top: 22px;
    margin-bottom: 93px;
}

.noWrap {
    white-space: nowrap;
}