@import "@/app/variables";

.inhaler {
    max-width: 410px;
    width: 33%;
    padding: 30px 19px;
    text-align: center;

    &__image {
        position: relative;
        width: 126px;
        margin: auto;

        & > img {
            width: 100%;
        }
    }

    &__header {
        font-size: 1.2rem;
        font-weight: 500;
        line-height: $main-lh * 1.2;
        margin-top: 55px;
        margin-bottom: 15px;
    }
}

@media #{$laptopL} {
    .inhaler {
        padding: 25px 14px;
        font-size: $main-fs * 0.75;

        &__header {
            line-height: $main-lh * 0.85;
        }
    }
}

@media #{$laptop} {
    .inhaler {
        font-size: inherit;
        line-height: inherit;
        width: 40%;

        &__header {
            line-height: $main-lh * 0.7;
            margin-top: 38px;
            margin-bottom: 12px;
        }
    }
}

@media #{$tablet} {
    .inhaler {
        width: 100%;

        &__image {
            width: 90px;
        }
    }
}

@media #{$mobile} {
    .inhaler {
        &__header {
            line-height: $main-lh * 0.6;
            margin-top: 28px;
            margin-bottom: 8px;
        }
    }
}