@import "variables";

@font-face {
    font-family: 'Century Gothic';
    src: url('/fonts/CenturyGothic-Bold.eot');
    src: local('Century Gothic Bold'), local('CenturyGothic-Bold'),
    url('/fonts/CenturyGothic-Bold.eot?#iefix') format('embedded-opentype'),
    url('/fonts/CenturyGothic-Bold.woff2') format('woff2'),
    url('/fonts/CenturyGothic-Bold.woff') format('woff'),
    url('/fonts/CenturyGothic-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: $primary-color;
    overflow-x: hidden;
    background: linear-gradient(180deg, #FFFFFF 35.7%, #D8EFFF 100%);
}

html {
    --fs: #{$main-fs};
    --lh: #{$main-lh};

    font-weight: 400;
    font-size: var(--fs);
    line-height: var(--lh);
}

h3 {
    font-size: 1.2rem;
}

h4 {
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: 0.1px;
}

sup {
    vertical-align: baseline;
    position: relative;
    top: -0.4em;
}

@include media(lg) {
    html {
        --lh: #{$main-lh * 0.75};
        --fs: #{$main-fs * 0.75};
    }
}

@include media(md) {
    html {
        --lh: #{$main-lh * 0.6};
        --fs: #{$main-fs * 0.6};
    }
}

@include media(xs) {
    html {
        --lh: #{$main-lh * 0.4};
        --fs: #{$main-fs * 0.4};
    }
}
