@use 'sass:map';

$primary-color: #01457A;
$yellowGreenGradient: linear-gradient(90deg, #FDD966 0%, #BCD77E 68.54%);
$shadow: 0 0 25px 0 #8EA0AD59;

$main-fs: 24px;
$main-lh: 32.69px;

$breakpoints: (
    xs: 320px,
    sm: 425px,
    md: 768px,
    lg: 1024px,
    sl: 1440px
);

@mixin media($name) {
    @media (max-width: map.get($breakpoints, $name)) {
        @content;
    }
}