$primary-color: #01457A;
$yellowGreenGradient: linear-gradient(90deg, #FDD966 0%, #BCD77E 68.54%);

$main-fs: 24px;
$main-lh: 32.69px;

$laptopL: "(max-width: 1440px)";
$laptop: "(max-width: 1024px)";
$tablet: "(max-width: 768px)";
$mobileL: "(max-width: 425px)";
$mobile: "(max-width: 320px)";